@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}
.desktop_nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 600;
}
.desktop_nav .desktop_nav_inner {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_inner_side {
  height: 100px;
  display: flex;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L {
  justify-content: flex-start;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt {
  width: 100%;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "FG Regular";
  padding-top: 13px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt ul li a {
  text-decoration: none;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #f3f3f3;
  text-transform: uppercase;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt ul li a:hover {
  color: #acaeb0;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_M {
  justify-content: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_M .desktop_nav_inner_side_cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_M .desktop_nav_inner_side_cnt .logo a {
  font-family: "FG Bold";
  text-decoration: none;
  color: #f3f3f3;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_M .desktop_nav_inner_side_cnt .logo a:hover {
  color: #acaeb0;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_M .desktop_nav_inner_side_cnt .logo a h1 {
  font-size: clamp(1.44rem, 2vw + 1.25rem, 2.15rem);
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R {
  justify-content: flex-end;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt {
  width: 100%;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "FG Regular";
  padding-top: 13px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a {
  text-decoration: none;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #f3f3f3;
  text-transform: uppercase;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a:hover {
  color: #acaeb0;
}/*# sourceMappingURL=Nav.module.css.map */