// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}

// Desktop
.index_top {
  height: 1250px;
  width: 100%;
  position: relative;

  .bg {
    height: 1250px !important;
    width: 100%;
    @include bGSU(cover, center);
    // background-attachment: fixed;
    position: relative;
    filter: brightness(60%) grayscale(0.5);
  }

  .index_top_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(27, 53, 61, 0.229);
    @include displayElement(flex, center, center);

    .index_top_overlay_cnt {
      padding-bottom: 70px;
      text-align: center;

      .top_text {
        font-family: "FG Semibold";
        color: rgb(142, 207, 229);
        font-size: $SubHeading;
        opacity: 0.9;
        cursor: default;
        filter: drop-shadow(0 11px 12px rgba(0, 0, 0, 0.431));
      }

      h1 {
        font-family: "FG Semibold";
        font-size: $MajorHeading;
        color: rgba(255, 255, 255, 1);
        cursor: default;
        filter: drop-shadow(0 11px 12px rgba(0, 0, 0, 0.431));
      }

      ul {
        font-family: "FG Regular";
        font-size: $Text;
        @include displayElement(flex, space-evenly, center);
        max-width: 420px;
        @include quickCenter("relative");
        margin-top: 50px;

        li {
          a {
            &:first-child {
              max-width: 125px;
            }

            &:last-child {
              max-width: 115px;
            }

            filter: drop-shadow(0 11px 12px rgba(0, 0, 0, 0.631));
            @include displayElement(flex, space-evenly, center);
            width: 110px;
            height: 50px;
            border: 2px solid rgba(142, 207, 229, 0.357);
            border-radius: 5px;
            // border-top-right-radius: 10px;
            // border-bottom-left-radius: 10px;
            // background-color: $Concrete;
            background-color: rgba(142, 207, 229, 0.357);
            -webkit-box-shadow: inset 0px 0px 47px 14px
              rgba(142, 207, 229, 0.357);
            -moz-box-shadow: inset 0px 0px 47px 14px rgba(142, 207, 229, 0.357);
            box-shadow: inset 0px 0px 47px 14px rgba(142, 207, 229, 0.357);
            color: $Concrete;
            text-decoration: none;

            &:hover {
              background-color: rgba(142, 207, 229, 0.657);
            }
          }
        }

        .info_link {
          a {
            max-width: 65px !important;
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
