// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}

// Desktop
.index_top {
  height: 1200px;
  position: relative;

  .bg {
    height: 1200px !important;
    @include bGSU(cover, center);
  }

  .index_top_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include displayElement(flex, center, center);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

    .index_top_inner_box {
      width: 100%;
      max-width: 1400px;
      @include quickCenter("relative");

      .index_top_inner_row {
        .index_top_inner_side {
          height: 1200px;
          display: flex;
          align-items: center;
        }

        .index_top_L {
          justify-content: flex-start;

          .index_top_inner_side_cnt {
            color: white;

            h1 {
              font-family: "FG Bold";
              font-size: $MajorHeading;
              display: block;
              margin-bottom: 20px;
              filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.224));
              cursor: default;
            }

            h2 {
              font-family: "FG Bold";
              font-size: $Heading;
              display: block;
              margin-bottom: 30px;
              filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.224));
              cursor: default;
            }

            ul {
              @include displayElement(flex, space-between, center);
              max-width: 240px;

              li {
                a {
                  font-size: $Text;
                  font-family: "FG Semibold";
                  text-decoration: none;
                  color: white;
                  background: rgb(224, 61, 61);
                  background: linear-gradient(
                    146deg,
                    rgba(247, 97, 97, 1) 0%,
                    rgba(241, 86, 18, 1) 100%
                  );
                  height: 50px;
                  @include displayElement(flex, center, center);
                  border-radius: 10px;

                  &:hover {
                    background-color: rgb(224, 61, 61);
                    background: rgb(224, 61, 61);
                  }
                }

                &:first-child {
                  a {
                    width: 80px;
                  }
                }

                &:last-child {
                  a {
                    width: 120px;
                  }
                }

                // &:last-child {
                //   width: 120px;
                // }
              }
            }
          }
        }

        .index_top_R {
          justify-content: flex-end;

          .index_top_inner_side_cnt {
            .lottie {
              width: 100% !important;
              height: 100% !important;
              max-width: 690px;
              transform: rotate();
              position: relative;
              right: -120px;
            }
          }
        }
      }
    }
  }

  // .left_big {
  //   width: 520px;
  //   height: 520px;
  //   position: absolute;
  //   bottom: -30px;
  //   left: -120px;
  //   background: rgb(243, 129, 129);
  //   background: linear-gradient(
  //     146deg,
  //     rgba(243, 129, 129, 1) 0%,
  //     rgba(240, 138, 93, 1) 100%
  //   );
  //   border-radius: 100%;
  // }
  // .left_small_1 {
  //   width: 60px;
  //   height: 60px;
  //   position: absolute;
  //   bottom: -120px;
  //   left: 120px;
  //   background: rgb(243, 129, 129);
  //   background: linear-gradient(
  //     146deg,
  //     rgba(243, 129, 129, 1) 0%,
  //     rgba(240, 138, 93, 1) 100%
  //   );
  //   border-radius: 100%;
  // }
  // .left_small_2 {
  //   width: 90px;
  //   height: 90px;
  //   position: absolute;
  //   bottom: -20px;
  //   left: 380px;
  //   background: rgb(243, 129, 129);
  //   background: linear-gradient(
  //     146deg,
  //     rgba(243, 129, 129, 1) 0%,
  //     rgba(240, 138, 93, 1) 100%
  //   );
  //   border-radius: 100%;
  // }
  // .right_big {
  //   width: 520px;
  //   height: 520px;
  //   position: absolute;
  //   bottom: -30px;
  //   right: -120px;
  //   background: rgb(243, 129, 129);
  //   background: linear-gradient(
  //     146deg,
  //     rgba(243, 129, 129, 1) 0%,
  //     rgba(240, 138, 93, 1) 100%
  //   );
  //   border-radius: 100%;
  // }

  // .right_small_1 {
  //   width: 60px;
  //   height: 60px;
  //   position: absolute;
  //   bottom: -140px;
  //   right: 120px;
  //   background: rgb(243, 129, 129);
  //   background: linear-gradient(
  //     146deg,
  //     rgba(243, 129, 129, 1) 0%,
  //     rgba(240, 138, 93, 1) 100%
  //   );
  //   border-radius: 100%;
  // }
  // .right_small_2 {
  //   width: 90px;
  //   height: 90px;
  //   position: absolute;
  //   bottom: -70px;
  //   right: 380px;
  //   background: rgb(243, 129, 129);
  //   background: linear-gradient(
  //     146deg,
  //     rgba(243, 129, 129, 1) 0%,
  //     rgba(240, 138, 93, 1) 100%
  //   );
  //   border-radius: 100%;
  // }
}

// Responsive
@media all and (max-width: 1995px) {
  .index_top {
    height: 780px;

    .bg {
      height: 780px !important;
    }

    .index_top_inner {
      padding-top: 60px;
      padding-left: 50px;
      padding-right: 10px;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            height: 700px;
          }

          .index_top_L {
            .index_top_inner_side_cnt {
              h1 {
                font-size: 65px;
                max-width: 100%;
                white-space: pre-wrap;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 50px;
                max-width: 400px;
                white-space: pre-wrap;

                br {
                  display: none;
                }
              }
            }
          }

          .index_top_R {
            .index_top_inner_side_cnt {
              .lottie {
                max-width: 550px;
                right: -50px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .index_top {
    height: 1050px;

    .bg {
      height: 1050px !important;
    }

    .index_top_inner {
      padding-top: 120px;
      padding-bottom: 60px;
      padding-left: 0px;
      padding-right: 0;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-bottom: 60px;

            .index_top_inner_side_cnt {
              text-align: center;
              @include quickCenter("relative");

              h1 {
                font-size: 50px;
                max-width: 80%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 40px;
                max-width: 80%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 210px;

                li {
                  a {
                    height: 45px;
                    font-size: 20px;
                  }

                  &:first-child {
                    a {
                      width: 70px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 110px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            .index_top_inner_side_cnt {
              .lottie {
                max-width: 390px;
                right: 0;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .index_top {
    height: 950px;

    .bg {
      height: 950px !important;
    }

    .index_top_inner {
      padding-top: 150px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-bottom: 60px;

            .index_top_inner_side_cnt {
              text-align: center;
              @include quickCenter("relative");

              h1 {
                font-size: 42px;
                max-width: 85%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 35px;
                max-width: 85%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 210px;

                li {
                  a {
                    height: 45px;
                    font-size: 20px;
                  }

                  &:first-child {
                    a {
                      width: 70px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 110px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            .index_top_inner_side_cnt {
              .lottie {
                max-width: 390px;
                right: 0;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .index_top {
    height: 620px;

    .bg {
      height: 620px !important;
    }

    .index_top_inner {
      padding-top: 20px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 40px;
            padding-bottom: 35px;

            .index_top_inner_side_cnt {
              text-align: center;
              @include quickCenter("relative");

              h1 {
                font-size: 32px;
                max-width: 85%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 25px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 180px;

                li {
                  a {
                    height: 40px;
                    font-size: 17px;
                  }

                  &:first-child {
                    a {
                      width: 60px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 95px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 210px;
                right: 0;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 350px;
    overflow: hidden;

    .bg {
      height: 350px !important;
    }

    .index_top_inner {
      padding-top: 60px;
      padding-bottom: 0px;
      padding-left: 20px;
      padding-right: 0px;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 0px;
            padding-bottom: 35px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              text-align: left;
              @include quickCenter("relative");

              h1 {
                font-size: 32px;
                max-width: 70%;
                white-space: pre-wrap;
                @include quickCenter("relative");
                margin-left: 0;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 25px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 180px;
                margin-left: 0;

                li {
                  a {
                    height: 40px;
                    font-size: 17px;
                  }

                  &:first-child {
                    a {
                      width: 60px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 95px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 250px;
                right: -10px;
                top: -30px;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 550px;
    overflow: hidden;

    .bg {
      height: 550px !important;
    }

    .index_top_inner {
      padding-top: 20px;
      padding-bottom: 0px;
      padding-left: 40px;
      padding-right: 0px;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 0px;
            padding-bottom: 35px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              text-align: left;
              @include quickCenter("relative");

              h1 {
                font-size: 45px;
                max-width: 70%;
                white-space: pre-wrap;
                @include quickCenter("relative");
                margin-left: 0;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 32px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 180px;
                margin-left: 0;

                li {
                  a {
                    height: 40px;
                    font-size: 17px;
                  }

                  &:first-child {
                    a {
                      width: 60px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 95px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 350px;
                right: -10px;
                top: -30px;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 425px;
    overflow: hidden;

    .bg {
      height: 425px !important;
    }

    .index_top_inner {
      padding-top: 40px;
      padding-bottom: 0px;
      padding-left: 40px;
      padding-right: 0px;

      .index_top_inner_box {
        max-width: 1200px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 0px;
            padding-bottom: 35px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              text-align: left;
              @include quickCenter("relative");

              h1 {
                font-size: 37px;
                max-width: 70%;
                white-space: pre-wrap;
                @include quickCenter("relative");
                margin-left: 0;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 28px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 180px;
                margin-left: 0;

                li {
                  a {
                    height: 40px;
                    font-size: 17px;
                  }

                  &:first-child {
                    a {
                      width: 60px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 95px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 290px;
                right: -10px;
                top: -30px;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    height: 725px;
    overflow: hidden;

    .bg {
      height: 725px !important;
    }

    .index_top_inner {
      padding-top: 40px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 0px;

      .index_top_inner_box {
        max-width: 900px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 0px;
            padding-bottom: 35px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              text-align: left;
              @include quickCenter("relative");

              h1 {
                font-size: 52px;
                max-width: 70%;
                white-space: pre-wrap;
                @include quickCenter("relative");
                margin-left: 0;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 42px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 190px;
                margin-left: 0;

                li {
                  a {
                    height: 50px;
                    font-size: 19px;
                  }

                  &:first-child {
                    a {
                      width: 65px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 105px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 390px;
                right: -40px;
                top: 0px;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 625px;
    overflow: hidden;

    .bg {
      height: 625px !important;
    }

    .index_top_inner {
      padding-top: 90px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 0px;

      .index_top_inner_box {
        max-width: 900px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 0px;
            padding-bottom: 35px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              text-align: left;
              @include quickCenter("relative");

              h1 {
                font-size: 52px;
                max-width: 70%;
                white-space: pre-wrap;
                @include quickCenter("relative");
                margin-left: 0;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 42px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 180px;
                margin-left: 0;

                li {
                  a {
                    height: 40px;
                    font-size: 17px;
                  }

                  &:first-child {
                    a {
                      width: 60px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 95px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 390px;
                right: -40px;
                top: 0px;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 725px;
    overflow: hidden;

    .bg {
      height: 725px !important;
    }

    .index_top_inner {
      padding-top: 80px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 0px;

      .index_top_inner_box {
        max-width: 1100px;

        .index_top_inner_row {
          .index_top_inner_side {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
          }

          .index_top_L {
            padding-top: 0px;
            padding-bottom: 35px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              text-align: left;
              @include quickCenter("relative");

              h1 {
                font-size: 63px;
                max-width: 80%;
                white-space: pre-wrap;
                @include quickCenter("relative");
                margin-left: 0;

                br {
                  display: none;
                }
              }

              h2 {
                font-size: 49px;
                max-width: 100%;
                white-space: pre-wrap;
                @include quickCenter("relative");

                br {
                  display: none;
                }
              }

              ul {
                @include quickCenter("relative");
                max-width: 190px;
                margin-left: 0;

                li {
                  a {
                    height: 50px;
                    font-size: 19px;
                  }

                  &:first-child {
                    a {
                      width: 65px;
                    }
                  }

                  &:last-child {
                    a {
                      width: 105px;
                    }
                  }
                }
              }
            }
          }

          .index_top_R {
            height: 250px;
            max-width: 50%;

            .index_top_inner_side_cnt {
              .lottie {
                max-width: 390px;
                right: -70px;
                top: 0px;
                @include quickCenter("relative");
              }
            }
          }
        }
      }
    }
  }
}
